.commitment-section {

  padding: 4rem 0;

  background-color: $color-brown-4;

  color: $color-brown-1;

  .section-header {

    margin-bottom: 3rem;

    &::after {

      content: "";

      display: block;

      width: 3.5rem;

      height: 1px;

      margin: 2rem auto 0;

      background-color: $color-brown-2;

    }

  }

  .content-grid {

    article {

      min-width: 0;

      text-align: center;

      img {

        display: block;

        width: 4rem;

        height: 4rem;

        margin: 0 auto 1rem;

      }

      h3 {

        margin: 0 0 1rem;

        font-family: $font-heading;

        font-size: 20px;

        font-weight: 500;

        line-height: 1.2;

        color: $color-brown-1;

      }

      p {

        max-width: 16rem;

        margin: 0 auto;

        font-family: $font-body;

        font-size: 12px;

        font-weight: 300;

        line-height: 1.5;

        color: $color-brown-2;

      }

    }

  }

  @media (min-width: 1024px) {

    .content-grid {

      column-gap: 54px;

      article {

        h3 {

          font-size: 24px;

        }

        p {

          font-size: 14px;

        }

      }

    }

  }

}