.content-grid {
  display: grid;
  gap: 1rem;

  &--three {
    grid-template-columns: 1fr;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }

  &--four {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 2rem;
    }
  }
}