//Typography Variables
$font-heading: "Cormorant Garamond", serif;
$font-body: "Bricolage Grotesque", sans-serif;
// --- Brown Scale ---
$color-brown-1: #221208;
$color-brown-2: #6F6459;
$color-brown-3: #ACA6A1;
$color-brown-4: #F8F6EA;
$color-brown-5: #FEFDF9;
$color-brown-6: #FFFFFF;
// --- Beige Scale ---
$color-beige-1: #2D1910;
$color-beige-2: #6A5D4E;
$color-beige-3: #BB9668;
$color-beige-4: #E8E2D9;
$color-beige-5: #F8F6F2;
$color-beige-6: #FFFFFF;